/*.txt
/*.log
/.classpath
/.project
/build.xml
/build.fxbuild
/icon.gif
/manifest.mf

/.settings/
/bin/
/build/
/dist/
/lib/
/nbproject/
/test/

/src/simpleserver/
/src/com/nquisition/hlibrary/exh/
/main.ucls
/HLibraryFixer.java
/HLibraryFixer2.java
/SQLiteTest.java
